<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
	
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		
</script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css"
	media="all">
<script src="js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head>
<body>
	<div class="main-page">
		<div class="tables">
			<h3 class="title1">菜单管理</h3>
			<div class="table-responsive bs-example widget-shadow">
				<h4>菜品一览表:</h4>
				<div id="toolbar" class="btn-group"
						style="margin-bottom: 0.5%; width: 100%;">
						<div style="float: left; width: 50%;">
							<button style="width: 16%;" id="btn_add" type="button"
								class="btn btn-default" data-target="#addModal"
								data-toggle="modal">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增房间
								           
							</button>
							<button style="width: 16%;" id="btn_edit" type="button"
								class="btn btn-default" data-target="#modifyModal"
								data-toggle="modal">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>选择修改
							</button>
							<button style="width: 16%;" id="btn_delete" type="button"
								class="btn btn-default">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
							</button>
						</div>
						<div style="float: left; width: 50%;">
							<form style="margin-top: -4.5%; margin-left: -30%;"
								class="bs-example bs-example-form" role="form">
								<div class="input-group" style="width: 25%; float: left;">
									<span class="input-group-addon">房间类型</span> <select
										class="form-control" name="product_line" id="productLine">
										<option value="0">请选择房型</option>
										<option th:each="roomType:${roomTypeInfo}"
											th:value="${roomType.id}" th:text="${roomType.type}"></option>
									</select>
								</div>
								<div class="input-group"
									style="margin-left: 2%; width: 23%; float: left;">
									<span class="input-group-addon">价&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp格</span>
									<input type="number" class="form-control">
								</div>
								<div class="input-group"
									style="margin-right: 2%; width: 23%; float: left;">
									<span class="input-group-addon">一</span> <input type="number"
										class="form-control">
								</div>
								<div class="input-group" style="widhth: 25%; float: left;">
									<button type="button" class="btn btn-primary"
										style="float: left;" onclick="roomMaintain(this)">筛&nbsp&nbsp&nbsp&nbsp选</button>
								</div>

							</form>
						</div>
					</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th style="display:none">#</th>
							<th>菜&nbsp&nbsp&nbsp名</th>
							<th>价&nbsp&nbsp&nbsp格</th>
							<th>所属种类</th>
							<th style="width: 15%;">操&nbsp&nbsp&nbsp作</th>
						</tr>
					</thead>
					<tbody th:each="food:${lstFood}">
						<tr>
							<th scope="row" th:value="${food.id}" style="display:none"></th>
							<td th:text="${food.name}"></td>
							<td th:text="${food.price}"></td>
							<td th:text="${food.foodType.typeName}"></td>
							<!-- <td th:text="${food.foodType"></td> -->
							<td>
								<button type="button" class="btn btn-primary"
									style="float: left;" onclick="roomMaintain(this)">改&nbsp&nbsp&nbsp&nbsp价</button>
								<button type="button" class="btn btn-primary"
									style="float: right;">修 改 信 息</button>
							</td>
						</tr>
						
					</tbody>
				</table>
				<!--分页文字信息  -->
				<div class="col-md-6">
					当前第 <span th:text="${lstFood.pageNum}"> </span>页, 总共 <span th:text="${lstFood.pages}"> </span> 页, 共有 <span th:text="${lstFood.total}"></span> 条记录
				</div>
				<!-- 分页条信息 -->
				<div class="col-md-6 ">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li><a th:value="1">首页</a></li>
							<li class="prev"><a href="#" th:value="${lstFood.pageNum}==1 ? ${lstFood.pageNum} :${lstFood.pageNum}-1"> <i
									class="ace-icon fa fa-angle-double-left"></i> 上一页
							</a></li>
							<li class="next"><a href="#" th:value="${lstFood.pageNum}==${lstFood.pages} ? ${lstFood.pageNum} :${lstFood.pageNum}+1"> <i
									class="ace-icon fa fa-angle-double-right"></i> 下一页
							</a></li>
							<li><a href="#">尾页</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
<!-- 模态框（Modal） -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">新 增 房 间</h4>
					</div>
					<div class="modal-body">
							<div class="form-body">
								<form>
									<div class="form-group">
										<label for="exampleInputEmail1">房间号</label>
										<input type="text" class="form-control" id="exampleInputEmail1"
											placeholder="房间号">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">房间类型</label>
										<select class="form-control">
										<option value="0">请选择房型</option>
										<option th:each="roomType:${roomTypeInfo}"
											th:value="${roomType.id}" th:text="${roomType.type}"></option>
										</select>
									</div>
								</form>
							</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">修 改 房 间</h4>
					</div>
					<div class="modal-body">
						<div class="form-grids row widget-shadow"
							data-example-id="basic-forms">
							<div class="form-title">
								<h4>修 改 房 间 :</h4>
							</div>
							<div class="form-body">
								<form>
									<div class="form-group">
										<label for="exampleInputEmail1">房间号</label>
										<input type="text" disabled="disabled" class="form-control" id="exampleInputEmail1"
											placeholder="房间号">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">房间类型</label>
										<select class="form-control">
										<option value="0">请选择房型</option>
										<option th:each="roomType:${roomTypeInfo}"
											th:value="${roomType.id}" th:text="${roomType.type}"></option>
										</select>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	<!-- Classie -->
	<script src="js/classie.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
				.getElementById('showLeftPush'), body = document.body;

		showLeftPush.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<script>
	$(".pagination a").click(function(){
		var page=$(this).attr("value");
		console.log("page"+page);
		$("#dynamicDisplayDiv").load("foodmanagement.html?page="+page);
	})
	</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js">
		
	</script>
</body>
</html>
