<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
	
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		
</script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-table.css" />
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css"
	media="all">
<script src="js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<!--//end-animate-->

<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head>
<body>
	<div class="main-page">
		<div class="tables">
			<h3 class="title1">菜单管理</h3>
			<div class="table-responsive bs-example widget-shadow">
				<h4>菜品一览表:</h4>
				<div id="toolbar" class="btn-group">
					<button id="btn_add" type="button" class="btn btn-default"
						onclick="addFoodBtn()">
						 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
						           
					</button>

					<button id="btn_delete" type="button" class="btn btn-default"
						onclick="deleteMany()">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
					</button>
				</div>
				<table id="foodInfoTable" class="table table-bordered">
				</table>
			</div>
			<!-- 新增菜品模态框（Modal） -->
			<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">新 增 菜 品</h4>
						</div>
						<div class="modal-body">
							<div class="form-body">
								<form id="addFoodForm">
									<div class="form-group">
										<label for="exampleInputEmail1">菜品名称</label> <input
											type="text" class="form-control" name="name"
											placeholder="菜品名称">
									</div>
									<div class="form-group">
										<label for="exampleInputEmail1">菜品价格</label> <input
											type="number" class="form-control" name="price"
											placeholder="菜品价格">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">菜品类型</label> <select
											class="form-control" name="foodTypeId">
											<option value="0">请选择菜品类型</option>
											<option th:each="foodType:${lstFoodType}"
												th:value="${foodType.id}" th:text="${foodType.typeName}"></option>
										</select>
									</div>
								</form>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary"
								onclick="addNewFood()">提交更改</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">修 改 菜 品</h4>
						</div>
						<div class="modal-body">
							<div class="form-grids row widget-shadow"
								data-example-id="basic-forms">

								<div class="form-body">
									<form id="updateFoodForm">
										<div class="form-group">
											<input id="id" name="id" type="hidden"> <label
												for="exampleInputEmail1">菜品名称</label> <input type="text"
												readonly="readonly" class="form-control" name="name"
												id="name" placeholder="菜品名称">
										</div>
										<div class="form-group">
											<label for="exampleInputEmail1">菜品价格</label> <input
												type="text" class="form-control" name="price" id="price"
												placeholder="菜品价格">
										</div>
										<div class="form-group">
											<label for="exampleInputPassword1">菜品类型</label> <select
												class="form-control" id="foodTypeId" name="foodTypeId">
												<option th:each="foodType:${lstFoodType}"
													th:value="${foodType.id}" th:text="${foodType.typeName}"></option>
											</select>
										</div>
										<input type="hidden" name="typeName" id="typeName">
									</form>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary"
								onclick="updateFood()">提交更改</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
	</div>

	<!-- Classie -->
	<script src="js/jquery-1.11.1.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/bootstrap-table.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/bootstrap-table-zh-CN.js" type="text/javascript"
		charset="utf-8"></script>
	<script type="text/javascript" src="js/bootbox.js"></script>
	<script src="js/classie.js"></script>
	<!-- Metis Menu -->
	<script src="js/metisMenu.min.js"></script>
	<script src="js/custom.js"></script>
	<script>
		$(function() {
			$('#foodInfoTable')
					.bootstrapTable(
							{
								method : "POST",
								contentType : "application/x-www-form-urlencoded",
								dataType : "json",
								url : "loadFoodInfo",
								pagination : true, //分页
								search : false, //显示搜索框
								sidePagination : "server", //服务端处理分页
								showRefresh : true,
								pageNumber : 1, //初始化加载第一页，默认第一页
								pageSize : 5, //每页的记录行数（*）
								pageList : [ 5, 10 ],
								toolbar : '#toolbar',
								queryParams : function queryParams(params) {
									params.pageNumber = this.pageNumber;
									return params;
								},
								sidePagination : "server",
								responseHandler : function(result) {
									//console.log(result);
									return {
										"total" : result.total,//总页数
										"rows" : result.list
									//数据
									}
								},
								columns : [
										{
											checkbox : true,
											visible : true
										},
										{
											field : 'name',
											sortable : true,
											title : '菜名'
										},
										{
											field : 'price',
											sortable : true,
											title : '菜品价格'
										},
										{
											field : 'foodType.typeName',
											sortable : true,
											title : '菜品类型'
										},
										{
											filed : 'id',
											title : '操作',
											formatter : function(value, row,
													index) {
												//通过formatter可以自定义列显示的内容
												//value：当前field的值，即id
												//row：当前行的数据
												var food = JSON.stringify(row);
												var result = "";
												result += "<a class='btn btn-xs blue'  title='编辑' onclick='EditViewById("
														+ food
														+ ")'><span class='glyphicon glyphicon-pencil'></span></a>";
												result += "<a class='btn btn-xs red' title='删除' onclick='DeleteById("
														+ food
														+ ")'><span class='glyphicon glyphicon-remove'></span></a>";
												return result;
											}
										} ]

							});
		})

		//展示修改菜品模态框 并且将数据回填到form表单
		function EditViewById(food) {
			$("#id").val(food.id);
			$("#name").val(food.name);
			$("#price").val(food.price);
			$("#typeName").val(food.foodType.typeName);
			var oldFoodTypeId = food.foodType.id;
			$("#foodTypeId option").each(function() {
				if ($(this).attr("value") == oldFoodTypeId) {
					$(this).attr("selected", "selected");
				} else {
					$(this).removeAttr("selected");
				}
			})
			$("#editModal").modal('show');

		}
		//按id修改某一菜品
		function updateFood() {
			$.post("updateFood", $('#updateFoodForm').serialize(), function(
					result) {
				if (result.resultCode == 1) {
					$("#editModal").modal('hide');
					bootbox.alert(result.message);
					$("#foodInfoTable").bootstrapTable('refresh');
				} else {
					bootbox.alert(result.message);
				}
			})

		}

		//按id删除每一菜品
		function DeleteById(food) {
			var foodId = food.id;
			bootbox.confirm({
				size : "big",
				message : "您确定删除该菜品？",
				buttons : {
					confirm : {
						label : "是",
						className : "btn-success"
					},
					cancel : {
						label : "否",
						className : "btn-danger"
					}
				},
				callback : function(result) {
					if (result) {
						$.post("deleteOneFood", {
							id : foodId
						}, function(result) {
							if (result.resultCode == 0) {
								bootbox.alert({
									size : "small",
									title : "提示",
									message : result.message
								})
							} else {
								bootbox.alert({
									size : "small",
									title : "提示",
									message : result.message
								});
								$("#foodInfoTable").bootstrapTable('refresh');
							}
						})
					}
				}
			})
		}
		//打开新增模态框
		function addFoodBtn() {
			$("#addModal").modal('show');
		}
		//新增菜品
		function addNewFood() {
			$.post("addNewFood", $("#addFoodForm").serialize(),
					function(result) {
						if (result.resultCode == 1) {
							$("#addModal").modal('hide');
							bootbox.alert(result.message);
							$("#foodInfoTable").bootstrapTable('refresh');
						} else if (result.resultCode == 2) {
							bootbox.alert(result.message);
						} else {
							bootbox.alert(result.message);
						}
					})
		}
		//选择删除
		function deleteMany() {
			var getRows = $("#foodInfoTable").bootstrapTable('getSelections');
			if (getRows.length == 0) {
				bootbox.alert("请选择要删除的行。");
			} else {
				var foodIds = new Array();
				$(getRows).each(function() {
					foodIds.push(this.id);
				});
				deleteFoods(foodIds);
			}
		}
		//删除多项功能实现
		function deleteFoods(foodIds) {
			bootbox.confirm({
				size : "big",
				message : "您确定删除选择的所有菜品？",
				buttons : {
					confirm : {
						label : "是",
						className : "btn-success"
					},
					cancel : {
						label : "否",
						className : "btn-danger"
					}
				},
				callback : function(result) {
					if (result) {
						$.ajax({
							url : "deleteFoods",
							method : "post",
							async:true,
							traditional : true,
							data : {
								ids:foodIds,
							},
							success : function(result) {
								if(result.resultCode==1){
									bootbox.alert(result.message);
									$("#foodInfoTable").bootstrapTable('refresh');
								}else{
									bootbox.alert(result.message);
								}
							}
								
						})
					}
				}
			})
		}
	</script>

	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
				.getElementById('showLeftPush'), body = document.body;

		showLeftPush.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>

	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js">
		
	</script>
</body>
</html>
