<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>忘记密码</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
	
	
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		

</script>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css"
	media="all">
<script src="js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->

</head>
<body>
	<div id="page-wrapper">
		<div class="main-page signup-page">
			<h3 class="title1">忘 记 密 码</h3>
			<p class="creating">如果您忘记了您的密码，请按以下提示进行操作来重置密码</p>
			<div class="sign-up-row widget-shadow">
				<h5>账 号 信 息 :</h5>
				<form id="resetPasswordForm">
					<div class="sign-u">
						<div class="sign-up1">
							<h4>用 户 名* :</h4>
						</div>
						<div class="sign-up2">
							<input name="account" type="text" required>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>电 子 邮 箱* :</h4>
						</div>
						<div class="sign-up2">
							<div class="input-group">
								<input name="email" type="text" required> <span
									id="vsbutton" class="input-group-addon"> <a href="#"
									class="btn-block" onclick="getVerificationCode()">获取验证码</a>
								</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>验 证 码* :</h4>
						</div>
						<div class="sign-up2">
							<input name="verificationCode" type="text" required>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>密 码* :</h4>
						</div>
						<div class="sign-up2">
							<input name="password" type="password" required>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>确 认 密 码* :</h4>
						</div>
						<div class="sign-up2">
							<input name="cofirmPassword" type="password" required>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- 警告信息框 -->
					<div id="alertDiv" class="alert alert-warning" style="display: none">
						<a href="#" class="close" data-dismiss="alert"> &times; </a> <strong>警告！您的网络连接有问题。</strong>
					</div>
					<div class="sub_home">
						<input type="button" value="重 置 密 码" onclick="resetPassword()")> 
						<input style="margin-left: 30%" type="submit" value="取 消">
						<div class="clearfix"></div>
					</div>
				</form>


			</div>
		</div>

	</div>
	<!--footer-->
	<div class="footer">
		<p>Copyright &copy; 垃圾佬团队版权所有</p>
	</div>
	<!--//footer-->
	<!-- Classie -->
	<script src="js/classie.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
				.getElementById('showLeftPush'), body = document.body;

		
		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js">
		
	</script>
	<!-- 刘子源编写的Js -->
	<script type="text/javascript">
		/*
			使用ajax 请求获取验证码 函数  
		*/
		function getVerificationCode() {
			var account = $("input[name='account']").val();
			var email = $("input[name='email']").val();
			$.post("getVerificationCode", {
				account : account,
				email : email
			}, function(result) {
				if (result.resultCode == 1) {
					$("#alertDiv").attr("class","alert alert-info");
					$("#alertDiv").css("display", "block");
					$("#alertDiv").children("strong").html(result.message);
				}
				if (result.resultCode == 2) {
					$("#alertDiv").attr("class","alert alert-warning");
					$("#alertDiv").css("display", "block");
					$("#alertDiv").children("strong").html(result.message);
				}
			})
		}
		//重置密码函数  --> ajax请求
		function resetPassword(){
			$.post("resetPassword",$("#resetPasswordForm").serialize(),function(result){
				if(result.resultCode == 1){
					console.log(result);
					$("#alertDiv").attr("class","alert alert-success");
					$("#alertDiv").css("display", "block");
					$("#alertDiv").children("strong").html(result.message);
					setTimeout("location.href = 'login.html'",3000);//3000毫秒后跳转
				}
				if (result.resultCode == 2) {
					console.log(result);
					$("#alertDiv").attr("class","alert alert-warning");
					$("#alertDiv").css("display", "block");
					$("#alertDiv").children("strong").html(result.message);
				}
			})
		}
		
		
		
	</script>
</body>
</html>
