<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
</script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap-table.css"/>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head>
<body>
	<div th:fragment="roomManagementPage">
		<div class="main-page">
			<div class="tables">
				<h3 class="title1">房型价格管理</h3>
				<div class="table-responsive bs-example widget-shadow">
					<h4>表格:</h4>
					
					<!-- 工具容器 -->
					<div id="toolbar" class="btn-group">
						<button id="btn_add" type="button" class="btn btn-default">
			               <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
			           </button>
						<button id="btn_delete" type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>批量删除
						</button>
					</div>

					<table id="roomTypeTable" class="table table-bordered"></table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="roomTypeModal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">房型信息</h4>
						</div>
						<form id="modalForm" action="#" method="post">
						<div class="modal-body">
								<input id="rid" name="id"  type="hidden" required>
								<div class="sign-u">
									<div class="sign-up1">
										<h4>房型名称 :</h4>
									</div>
									<div class="sign-up2">
										<input id="rtype" name="type" type="text" required>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="sign-u">
									<div class="sign-up1">
										<h4>房型押金 :</h4>
									</div>
									<div class="sign-up2">
										<input id="rdeposit" name="deposit" type="text" required>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="sign-u">
									<div class="sign-up1">
										<h4>房型价格 :</h4>
									</div>
									<div class="sign-up2">
										<input id="ramount"  name="amount" type="text" required>
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button id="sub" type="button" class="btn btn-primary" data-dismiss="modal">提交更改</button>
						</div>
						</form>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
	<div class="modal fade" id="addRoomTypeModal" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">添加房型信息</h4>
						</div>
						<form id="addModalForm" action="#" method="post">
						<div class="modal-body">
								<div class="sign-u">
									<div class="sign-up1">
										<h4>房型名称 :</h4>
									</div>
									<div class="sign-up2">
										<input name="type" type="text" required>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="sign-u">
									<div class="sign-up1">
										<h4>房型押金 :</h4>
									</div>
									<div class="sign-up2">
										<input name="deposit" type="text" required>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="sign-u">
									<div class="sign-up1">
										<h4>房型价格 :</h4>
									</div>
									<div class="sign-up2">
										<input name="amount" type="text" required>
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button id="add" type="button" class="btn btn-primary" data-dismiss="modal">添加</button>
						</div>
						</form>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
	<script src="js/bootbox.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap-table.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap-table-zh-CN.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/classie.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
				.getElementById('showLeftPush'), body = document.body;

		showLeftPush.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript">
		$(function(){
	        	//初始化bootstrap-table的内容
	            $('#roomTypeTable').bootstrapTable({
	            	method:"POST",
	    			//极为重要，缺失无法执行queryParams，传递page参数
	    			contentType : "application/x-www-form-urlencoded",
	    			dataType:"json",
	            	url: "loadRoomTypeInfo",
	            	toolbar:"#toolbar",
	                pagination: true, 			//分页
	                striped: true,              //是否显示行间隔色
	                search: false, 				//显示搜索框
	                showRefresh: true,			//显示刷新按钮
	                clickToSelect: true, 		//是否启用点击选中行
	                sidePagination: "server", 	//服务端处理分页
	                pageNumber: 1,            	//初始化加载第一页，默认第一页
	                pageSize: 5,              	//每页的记录行数（*）
	                smartDisplay:false,
	                pageList: [5, 10, 15, 'All'],  	//可供选择的每页的行数（*）
	                queryParams:function(param){
	                	param.pageNumber = this.pageNumber;
	                	return param;	
	                },
	                responseHandler:function(res) {
	                	console.log(res)
	                    return {
	                        "total":res.total,	//总页数
	                        "rows": res.list 	//数据
	                    }
	                },
	                columns: [{
	                    checkbox: true,  
	                    visible: true                  //是否显示复选框  
	                }, {
	                    field: 'type',
	                    title: '房型',
	                    sortable: true
	                }, {
	                    field: 'deposit',
	                    title: '押金',
	                    sortable: true
	                }, {
	                    field: 'amount',
	                    title: '价格',
	                    sortable: true,
	                }, {
	                    field:'ID',
	                    title: '操作',
	                    width: 120,
	                    align: 'center',
	                    valign: 'middle',
	                    formatter:function(value, row, index) {
	                        var result = "";
	                        result += "<a class='check' title='查看'><span class='glyphicon glyphicon-search'></span></a>&nbsp&nbsp";
	                        result += "<a class='edit' title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>&nbsp&nbsp";
	                        result += "<a class='del' title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
	                        return result;
	                    },
	                    events: {
	            			"click .check": function(event, val, row, index) {
	            				$("#sub").html("确定");
	            				$("#rid").val(row.id);
	            				$("#rtype").val(row.type);
            			        $("#rdeposit").val(row.deposit);
            			        $("#ramount").val(row.amount);
            			        $("#roomTypeModal").find("input").attr('readonly','readonly');
	            				$("#roomTypeModal").modal('show');
	            			},
	            			"click .edit": function(event, val, row, index) {
	            				$("#sub").html("提交更改");
	            				$("#rid").val(row.id);
	            				$("#rtype").val(row.type);
            			        $("#rdeposit").val(row.deposit);
            			        $("#ramount").val(row.amount);
            			        $("#rdeposit").removeAttr("readOnly");
            			        $("#ramount").removeAttr("readOnly");
	            				$("#roomTypeModal").modal('show');
		            		},
		            		"click .del": function(event, val, row, index) {
			            		console.log(row.id);
			            		 bootbox.confirm({
			            				size: "big",
			            				message: "您确定删除当前行吗？",
			            				buttons: {
			            					confirm: {
			            						label: '是',
			            						className: 'btn-success'
			            					},
			            					cancel: {
			            						label: '否',
			            						className: 'btn-danger'
			            					}
			            				},
			            				callback: function(result) {
			            					if(result) {
			            						$.ajax({
			            				          method:"post",
			            				          url:'roomTypeDelete',
			            				          data:{
			            				          	id:row.id,
			            				          },
			            				          dataType : "json",
			            				          async:true,
			            				          success:function (res) {			          	 
			            				          	 $("#roomTypeTable").bootstrapTable('refresh');
			            				          }
			            				        }); 
			            					}
			            				}
			            			});
		            		}
	                    }
	                }, ],
	                onLoadSuccess: function () {
	                },
	                onLoadError: function () {
	                    showTips("数据加载失败！");
	                },
	                onDblClickRow: function (row, $element) {
	                	$("#sub").html("提交更改");
        				$("#rid").val(row.id);
        				$("#rtype").val(row.type);
    			        $("#rdeposit").val(row.deposit);
    			        $("#ramount").val(row.amount);
    			        $("#rdeposit").removeAttr("readOnly");
    			        $("#ramount").removeAttr("readOnly");
        				$("#roomTypeModal").modal('show');
	                },
	            });
		})
		
		//批量删除
		$("#btn_delete").on("click", function() {

                var rows = $("#roomTypeTable").bootstrapTable('getSelections'); 	// 获得要删除的数据
                if(rows.length == 0) { 				// rows 主要是为了判断是否选中，下面的else内容才是主要
                	var dialogInfo = bootbox.dialog({
                	    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>请先选择要操作的列!</p>',
                	    closeButton: false
                	});
                	setTimeout(function(){ dialogInfo.modal('hide'); },1200);
                    return;
                } else {
                    var ids = new Array(); 			// 声明一个数组
                    $(rows).each(function() { 		// 通过获得别选中的来进行遍历
                        ids.push(this.id); 			// cid为获得到的整条数据中的一列
                    });
                    //调用删除的方法
                    roomTypeDelete(ids)
                }

            })
          
          //删除  ids：id数组
	      function roomTypeDelete(ids){
			bootbox.confirm({
				size: "big",
				title: "该操作不可逆！",
				message: "您确定删除选中所有行吗？",
				centerVertical: true,
				buttons: {
					confirm: {
						label: '是',
						className: 'btn-success'
					},
					cancel: {
						label: '否',
						className: 'btn-danger'
					}
				},
				callback: function(result) {
					if(result) {
						$.ajax({
				          method:"post",
				          url:'roomTypeDeletes',
				          data:{
				          	id:ids,
				          },
				          traditional:true,
				          async:true,
				          success:function (res) {			          	 
				          	 $("#roomTypeTable").bootstrapTable('refresh');
				          }
				        }); 
					}
				}
			});
		}
		
		$("#sub").click(function(){
			if($("#sub").text()=='提交更改'){
				$.post("roomTypeUpdate",$("#modalForm").serialize(),function(result){
					if(result.resultCode==1){
						$("#roomTypeTable").bootstrapTable('refresh');
						var dialogInfo = bootbox.dialog({
	                	    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>'+result.message+'</p>',
	                	    closeButton: false
	                	});
	                	setTimeout(function(){ dialogInfo.modal('hide'); },1200);
					}else{
						var dialogInfo = bootbox.dialog({
	                	    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>'+result.message+'</p>',
	                	    closeButton: false
	                	});
	                	setTimeout(function(){ dialogInfo.modal('hide'); },1200);
					}
				}); 
			}
		})
		
		$("#btn_add").click(function(){
			$("#addRoomTypeModal").modal('show');
			$("#add").click(function(){
				var typeName = addModalForm['type'].value;
				$.post("typeNameIsUsed",{typeName:typeName},function(result){
					if(result.resultCode==1){
						addRoomTypeInfo();
					}else{
						var dialogInfo = bootbox.dialog({
	                	    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>'+result.message+'</p>',
	                	    closeButton: false
	                	});
	                	setTimeout(function(){ dialogInfo.modal('hide'); },1200);
					}
				})
				$("#roomTypeTable").bootstrapTable('refresh');
			})
		})
		function addRoomTypeInfo(){
			$.post("addRoomType",$("#addModalForm").serialize(),function(result){
			if(result.resultCode==1){
				var dialogInfo = bootbox.dialog({
            	    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>'+result.message+'</p>',
            	    closeButton: false
            	});
            	setTimeout(function(){ dialogInfo.modal('hide'); },1200);
				$("#roomTypeTable").bootstrapTable('refresh');
			}else{
				var dialogInfo = bootbox.dialog({
            	    message: '<p class="text-center mb-0"><i class="fa fa-spin fa-cog"></i>'+result.message+'</p>',
            	    closeButton: false
            	});
            	setTimeout(function(){ dialogInfo.modal('hide'); },1200);
			}
		});  
		}
	</script>
</body>
</html>
