<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
	
	
	
	
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}




</script>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap-table.css" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js-->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
	rel='stylesheet' type='text/css'>
<!--//webfonts-->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css"
	media="all">
<script src="js/wow.min.js"></script>
<script>
	new WOW().init();
</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="js/metisMenu.min.js"></script>
<script src="js/custom.js"></script>
<link href="css/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head>
<body>
	<div th:fragment="roomManagementPage">
		<div class="main-page">
			<div class="tables">
				<h3 class="title1">客房管理</h3>
				<div class="table-responsive bs-example widget-shadow">
					<h4>客房信息表:</h4>
					<div id="toolbar" class="btn-group">
						<button id="btn_add" type="button" class="btn btn-default" onclick="openAddModal()">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增            
						</button>
						<button id="btn_delete" type="button" class="btn btn-default"
							onclick="deleteByIds()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
						</button>
					</div>

					<table id="roomInfoTable" class="table table-bordered">

					</table>
				</div>
			</div>
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">修改房间信息</h4>
						</div>
						<div class="modal-body">
							<div class="form-body">
								<form id="editRoomInfoForm">
									<div class="form-group">
										<input readonly="readonly" type="hidden" class="form-control"
											id="id" name="id">
									</div>
									<div class="form-group">
										<label for="exampleInputEmail1">房间号</label> <input
											readonly="readonly" type="text" class="form-control"
											id="roomNumber" name="roomNumber">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">房间类型</label> <select
											class="form-control" name="roomTypeId" id="roomTypeId">
											<option th:each="roomType:${roomTypeInfo}"
												th:value="${roomType.id}" th:text="${roomType.type}"></option>
										</select>

									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="button" onclick="editRoomInfo()"
								class="btn btn-primary">提交更改</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
			
			<!-- 模态框（Modal） -->
			<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">新增房间</h4>
						</div>
						<div class="modal-body">
							<div class="form-body">
								<form id="addRoomInfoForm">
									<div class="form-group">
										<label for="exampleInputEmail1">房间号</label> <input
											 type="text" class="form-control" name="roomNumber">
									</div>
									<div class="form-group">
										<label for="exampleInputPassword1">房间类型</label> <select
											class="form-control" name="roomTypeId" >
											<option value="0">--请选择房型--</option>
											<option th:each="roomType:${roomTypeInfo}"
												th:value="${roomType.id}" th:text="${roomType.type}"></option>
										</select>

									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="button" onclick="addRoomInfo()"
								class="btn btn-primary">提交更改</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>
	</div>
	<script src="js/bootstrap.min.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/bootstrap-table.js" type="text/javascript"
		charset="utf-8"></script>
	<script src="js/bootstrap-table-zh-CN.js" type="text/javascript"
		charset="utf-8"></script>
	<script type="text/javascript" src="js/bootbox.js"></script>

	<!-- Classie -->
	<script src="js/classie.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'), showLeftPush = document
				.getElementById('showLeftPush'), body = document.body;

		showLeftPush.onclick = function() {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--scrolling js-->
	<script src="js/jquery.nicescroll.js"></script>
	<script src="js/scripts.js"></script>
	<!--//scrolling js-->

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.js">
		
	</script>


	<!-- 刘子源写的js -->
	<script type="text/javascript">
		$(function() {
			//初始化bootstrap-table的内容
			//记录页面bootstrap-table全局变量$table，方便应用
			$('#roomInfoTable')
					.bootstrapTable(
							{
								url : 'loadRoomInfoTable', //请求后台的URL（*）
								contentType : "application/x-www-form-urlencoded",
								method : 'POST', //请求方式（*）
								//toolbar: '#toolbar',              //工具按钮用哪个容器
								/*  showRefresh:true,					//显示刷新按钮
								 striped: true,                      //是否显示行间隔色
								 cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
								 pagination: true,                   //是否显示分页（*）
								 sortable: true,                     //是否启用排序
								 sortOrder: "asc",                   //排序方式
								 sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
								 pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
								 pageList: [5, 10, 15, 20],        //可供选择的每页的行数（*）
								 search: false,                      //是否显示表格搜索
								 showColumns: true,                  //是否显示所有的列（选择显示的列）
								 clickToSelect: true,                //是否启用点击选中行
								 //queryParamsType的默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
								 //设置为 ''  在这种情况下传给服务器的参数为：pageSize,pageNumber 
								 queryParamsType:'limit',
								 queryParams:queryParams,  */

								pagination : true, // 分页
								striped : true, // 是否显示行间隔色
								queryParams :
								/**查询条件与分页数据 */
								function queryParams(pageReqeust) {
									/* pageReqeust.enabled = $("#enabled").val();
									pageReqeust.querys = $("#querys").val(); */
									pageReqeust.pageNumber = this.pageNumber;
									return pageReqeust;
								},
								cache : false, // 是否使用缓存
								pageList : [ 5, 10, 20 ],
								toolbar : "#toolbar",// 指定工具栏
								showColumns : true, // 显示隐藏列
								showRefresh : true, // 显示刷新按钮
								uniqueId : "userName", // 每一行的唯一标识
								sidePagination : "server", // 服务端处理分页
								//处理控制器返回的数据
								responseHandler : function(result) {
									return {
										"total" : result.total,
										"rows" : result.list,
									}
								},
								columns : [
										{
											checkbox : true,
											visible : true
										//是否显示复选框  
										},
										{
											field : 'roomNumber',
											title : '房间号',
											sortable : true
										},
										{
											field : 'roomType.type',
											title : '房间类型',
											sortable : true
										},
										{
											field : 'roomType.deposit',
											title : '房间押金',
											sortable : true,
										},
										{
											field : 'roomType.amount',
											title : '房间单价',
											sortable : true,
										},
										{
											field : 'status',
											title : '房间状态',
											sortable : true,
											formatter : function formatStatus(
													value, row, index) {
												var str;
												switch (value) {
												case "0":
													str = "未使用";
													break;
												case "1":
													str = "已入住";
													break;
												case "2":
													str = "维修中";
													break;
												default:
													str = "其他";
													break;
												}
												return str;
											},

										},
										{
											field : 'id',
											title : '操作',
											algin : 'center',
											valign : 'middle',
											formatter : function(value, row,
													index) {
												//通过formatter可以自定义列显示的内容
												//value：当前field的值，即id
												//row：当前行的数据
												var room = JSON.stringify(row);
												var result = "";
												result += "<a href=\"javascript:void(0);\" class='btn btn-xs blue'  title='维修' onclick='repairRoom("
														+ row.id
														+ ")'><span class='glyphicon glyphicon-wrench'></span></a>";
												result += "<a href=\"javascript:void(0);\" class='btn btn-xs blue'  title='编辑' onclick='openEditModal("
														+ room
														+ ")'><span class='glyphicon glyphicon-pencil'></span></a>";
												return result;
											}

										}, ],
								onLoadSuccess : function() {
								},
								onLoadError : function() {
									showTips("数据加载失败！");
								},
								onDblClickRow : function(row, $element) {
									/*                     var id = row.ID;
									 EditViewById(id, 'view');
									 */},
							});

		})
		//打开修改模态窗口
		function openEditModal(room) {
			$("#id").val(room.id);
			$("#roomNumber").val(room.roomNumber);
			var orginalRoomTypeId = room.roomTypeId;

			$("#roomTypeId option").each(function() {
				if ($(this).attr("value") == orginalRoomTypeId) {
					$(this).attr("selected", "selected");
				} else {
					$(this).removeAttr("selected")
				}
			})
			$("#editModal").modal('show');
		}
		//修改房间信息
		function editRoomInfo() {
			$.post("editRoomInfo", $("#editRoomInfoForm").serialize(),
					function(result) {
						if (result.resultCode == 1) {
							bootbox.alert(result.message);
							$("#editModal").modal('hide');
							$('#roomInfoTable').bootstrapTable('refresh');
						}
						if (result.resultCode == 2) {
							bootbox.alert(result.message);
						}
						if (result.resultCode == 0) {
							bootbox.alert(result.message);
						}
					})
		}
		//打开新增房间的模态框
		function openAddModal(){
			$("#addModal").modal('show');
		}
		//添加房间信息
		function addRoomInfo(){
			$.post("addRoomInfo",$("#addRoomInfoForm").serialize(),function(result){
				if (result.resultCode == 1) {
					bootbox.alert(result.message);
					$("#addModal").modal('hide');
					$('#roomInfoTable').bootstrapTable('refresh');
				}
				if (result.resultCode == 2) {
					bootbox.alert(result.message);
				}
				if (result.resultCode == 0) {
					bootbox.alert(result.message);
				}
			})
		}
		//批量删除
		function deleteByIds(){
			var selectRows=$('#roomInfoTable').bootstrapTable('getSelections');
			if(selectRows.length==0){
				var dialogInfo=bootbox.dialog({
					message:"<p class = 'text-center mb-0'><i class='fa fa-spin fa-cog'></i>请先选择要操作的列</p>",
					closeButton: false,
				});
				setTimeout(function(){dialogInfo.modal('hide');},1500);
				return;
			}else{
				var rowIds=new Array();
				$(selectRows).each(function(){
					rowIds.push(this.id);
				});
				deleteRoomInfo(rowIds);
			}
		}
		//删除rowIds
		function deleteRoomInfo(array){
			bootbox.confirm({
				size : "big",
				title: "该操作不可逆",
				message : "您确定删除选中的所有行吗？",
				buttons : {
					confirm : {
						label : "是",
						className : "btn-success"
					},
					cancel : {
						label : '否',
						className : "btn-danger"
					}
				},
				callback : function(result) {
					if (result) {
						var s=JSON.stringify(array);
						$.post("deleteRoomByIds", {
							roomIds : s
						}, function(result) {
							if (result.resultCode == 1) {
								bootbox.alert(result.message);
								$('#roomInfoTable').bootstrapTable('refresh');
							}
							if (result.resultCode == 2) {
								bootbox.alert(result.message);
							}
							if (result.resultCode == 0) {
								bootbox.alert(result.message);
							}
						})
					}
				},
			})
		}
		//维护房间
		function repairRoom(roomId) {
			bootbox.confirm({
				size : "big",
				message : "您确定将该房间修改成维修状态？",
				buttons : {
					confirm : {
						label : "是",
						className : "btn-success"
					},
					cancel : {
						label : '否',
						className : "btn-danger"
					}
				},
				callback : function(result) {
					if (result) {
						$.post("roomMaintenance", {
							id : roomId
						}, function(result) {
							if (result.resultCode == 1) {
								bootbox.alert(result.message);
								$('#roomInfoTable').bootstrapTable('refresh');
							}
							if (result.resultCode == 2) {
								bootbox.alert(result.message);
								$('#roomInfoTable').bootstrapTable('refresh');
							}
							if (result.resultCode == 0) {
								bootbox.alert(result.message);
								$('#roomInfoTable').bootstrapTable('refresh');
							}
						})
					}
				},
			})

		}
	</script>
</body>
</html>
