<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>员工注册界面</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<!-- font CSS -->
		<!-- font-awesome icons -->
		<link href="css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome icons -->
		<!-- js-->
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<!--webfonts-->
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet'
		 type='text/css'>
		<!--//webfonts-->
		<!--animate-->
		<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
		<script src="js/wow.min.js"></script>
		<script>
			new WOW().init();
			</script>
		<!--//end-animate-->
		<!-- Metis Menu -->
		<script src="js/metisMenu.min.js"></script>
		<script src="js/custom.js"></script>
		<link href="css/custom.css" rel="stylesheet">
		<!--//Metis Menu -->
	</head>
	<body>
		<div id="page-wrapper">
			<div class="main-page signup-page">
				<h3 class="title1">注&nbsp&nbsp&nbsp册</h3>
				<p class="creating">欢迎加入天堂酒店</p>
				<div class="sign-up-row widget-shadow">
				<form>
					<h5>个 人 信 息 :</h5>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>名 字* :</h4>
						</div>
						<div class="sign-up2">
								<input type="text" required>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>姓 氏* :</h4>
						</div>
						<div class="sign-up2">
								<input type="text" required>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>联 系 方 式* :</h4>
						</div>
						<div class="sign-up2">
								<input type="text" required>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>身 份 证 号* :</h4>
						</div>
						<div class="sign-up2">
								<input type="text" required>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>所 属 部 门* :</h4>
						</div>
						<div class="sign-up2">
								<select class="combobox" style="margin-top:10px;width:966px;height: 50px;">
									<option>前厅部</option>
									<option>客房部</option>
									<option>餐饮部</option>
									<option>保安部</option>
									<option>娱乐部</option>
									<option>销售部</option>
									<option>人事部</option>
									<option>财务部</option>
									<option>行政部</option>
								</select>
						</div>
						<div class="clearfix"> </div>
					</div>
					<br />
					<div class="sign-u">
						<div class="sign-up1">
							<h4>性 别* :</h4>
						</div>
						<div class="sign-up2">
							<label>
								<input type="radio" name="Gender" required>
								男
							</label>
							<label>
								<input type="radio" name="Gender" required>
								女
							</label>
						</div>
						<div class="clearfix"> </div>
					</div>
					<h6>登 录 信 息 :</h6>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>密 码* :</h4>
						</div>
						<div class="sign-up2">
								<input type="password" required>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>确 认 密 码* :</h4>
						</div>
						<div class="sign-up2">
								<input type="password" required>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="sub_home">
							<input type="submit" value="提 交">
							<input style="margin-left:300px" type="submit" value="取消">
						<div class="clearfix"> </div>
					</div>
					</form>
				</div>
			</div>
			
		</div>
		<!--footer-->
		<div class="footer">
		   <p>Copyright &copy; 垃圾佬团队版权所有</p>
		</div>
		<!--//footer-->
		<!-- Classie -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById('cbp-spmenu-s1'),
				showLeftPush = document.getElementById('showLeftPush'),
				body = document.body;

			showLeftPush.onclick = function() {
				classie.toggle(this, 'active');
				classie.toggle(body, 'cbp-spmenu-push-toright');
				classie.toggle(menuLeft, 'cbp-spmenu-open');
				disableOther('showLeftPush');
			};

			function disableOther(button) {
				if (button !== 'showLeftPush') {
					classie.toggle(showLeftPush, 'disabled');
				}
			}
		</script>
		<!--scrolling js-->
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/scripts.js"></script>
		<!--//scrolling js-->
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.js"> </script>
	</body>
</html>
