
<!DOCTYPE html>
<html>
<head>
<title>浏览</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- menu -->
<link href="css/component.css" rel="stylesheet" type="text/css"  />
<!-- //menu -->
<link rel="stylesheet" href="css/swipebox.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- //fonts -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
<!-- swipe box js -->
	<script src="js/jquery.swipebox.min.js"></script> 
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
	</script>
<!-- //swipe box js -->
<!--animate-->
<link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
</head>
<body class="cbp-spmenu-push">
	 <!--top-header-->
		<!--bottom-->
		  <section class="button">
					<button id="showLeftPush" class="wow fadeInDown animated" data-wow-delay=".5s"><img src="images/menu.png" alt=""></button>
		   </section>
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
				<h3>Menu</h3>
				<div class="logo">
					<a class=" link link--yaku " href="index.html"><span>H</span><span>o</span><span>m</span><span>e</span></a>
					<a class=" link link--yaku " href="about.html"><span>A</span><span>b</span><span>o</span><span>u</span><span>t</span></a>
					<a class=" link link--yaku" href="services.html"><span>S</span><span>e</span><span>r</span><span>v</span><span>i</span><span>c</span><span>e</span><span>s</span></a>
					<a class=" link link--yaku" href="shortcodes.html"><span>S</span><span>h</span><span>o</span><span>r</span><span>t</span><span>c</span><span>o</span><span>d</span><span>e</span><span>s</span></a>
					<a class=" link link--yaku active" href="gallery.html"><span>G</span><span>a</span><span>l</span><span>l</span><span>e</span><span>r</span><span>y</span></a>
					<a class=" link link--yaku " href="contact.html"><span>C</span><span>o</span><span>n</span><span>t</span><span>a</span><span>c</span><span>t</span></a>
				</div>
				
					
			</nav>
		  
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="js/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				showRightPush = document.getElementById( 'showRightPush' ),
				body = document.body;

			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};

			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
				if( button !== 'showRightPush' ) {
					classie.toggle( showRightPush, 'disabled' );
				}
			}
		</script>
<!-- banner -->
<div class="banner ">
	<div class="banner-left page-head">
		<div class="grid__item wow fadeInDown animated" data-wow-delay=".5s">
			<h1><a class="link link--ilin" href="index.html"><span>天堂  </span><span>酒店</span></a></h1>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- contact -->
<div class="gallery">
	<div class="container">
		<h3 class="tittle">浏览</h3>
				<div class="gallery-grids">
					<div class="col-md-6 baner-top wow fadeInRight animated" data-wow-delay=".5s">
						<a href="images/g1.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/hotel1.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>天堂酒店</h4>
										<span class="separator"></span>
										<p>酒店以金黄色为主，弥漫着浓郁的地中海风情</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top wow fadeInLeft animated" data-wow-delay=".5s">
						<a href="images/g2.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/h1.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>天堂酒店</h4>
										<span class="separator"></span>
										<p>酒店大堂设有咖啡吧提供时尚饮品，让你祛除一身疲惫</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar wow fadeInUp animated" data-wow-delay=".5s">
						<a href="images/c1.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/cc4.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>天堂酒店</h4>
										<span class="separator"></span>
										<p>休闲餐厅提供有人可口的晚餐</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar wow fadeInDown animated" data-wow-delay=".5s">
						<a href="images/c2.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/cc3.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>天堂酒店</h4>
										<span class="separator"></span>
										<p>酒店会客厅满满的幸福和温暖</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar wow fadeInUp animated" data-wow-delay=".5s">
						<a href="images/c3.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/y2.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>天堂酒店</h4>
										<span class="separator"></span>
										<p>愉快的氛围里有亲朋好友与动人歌声</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar wow fadeInDown animated" data-wow-delay=".5s">
						<a href="images/c4.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/y3.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>天堂酒店</h4>
										<span class="separator"></span>
										<p>在温馨的酒吧慢下你的脚步</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top wow fadeInRight animated" data-wow-delay=".5s">
						<a href="images/g7.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/g7.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>天堂酒店</h4>
										<span class="separator"></span>
										<p>漫步沙滩，亭下小憩</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top wow fadeInLeft animated" data-wow-delay=".5s">
						<a href="images/g8.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="images/g8.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>天堂酒店</h4>
										<span class="separator"></span>
										<p>漫步沙滩，亭下小憩</p>
										<span class="separator"></span>
										
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
	</div>
<!-- //gallery -->
<!-- //contact -->
<div class="footer">
	<div class="container">
		<div class="col-md-4 footer-grids wow fadeInRight animated" data-wow-delay=".5s">
			<h3>加 入 我 们</h3>
			<p>如果你想成为酒店管理届的精英<br>
				如果你想跟优秀的团队一起进步<br>
				如果你想成为优秀酒店的合伙人<br>
				那么请加入我们<br>
				等每一个优秀的你</p>
		</div>
		<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
			<h3>关 注 我 们</h3>
			<form>
				<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
				<input type="submit" value="订阅">
			</form>
		</div>
		<div class="col-md-4 footer-grids wow fadeInLeft animated" data-wow-delay=".5s">
			<h3>联 系 地 址</h3>
			<p>湖南省衡阳市<br>
				珠晖区衡花路<br>
				固定电话：0000000000<br>
				移动电话：0000000000<br>
				传  真  ：0000000000</p>
			<p>E-mail : <a href="mailto:info@example.com">mail@XXX.org</a></p>
		</div>		
		<div class="clearfix"></div>
	</div>
</div>
<div class="footer-bot wow fadeInRight animated" data-wow-delay=".5s">
	<div class="container">
			<div class="logo2">
				<h2><a href="index.html">天堂酒店</a></h2>
			</div>
			<div class="ftr-menu">
				 <ul>
					<li><a href="index.html">主页</a></li>
					<li><a href="about.html">关于</a></li>
					<li><a href="services.html">服务</a></li>
					<li><a href="gallery.html">浏览</a></li>
					<li><a href="contact.html">联系</a></li>
				 </ul>
			</div>
			<div class="clearfix"></div>
	</div>
</div>
<div class="copy-right wow fadeInLeft animated" data-wow-delay=".5s">
	<div class="container">
			<p>Copyright &copy; 垃圾佬团队版权所有</p>
	</div>
</div>
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

</body>
</html>