<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljl.C71S3TljlHotelManagementSystem.dao.CheckInDetailMapper">
  <resultMap id="BaseResultMap" type="com.ljl.C71S3TljlHotelManagementSystem.bean.CheckInDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="check_in_time" jdbcType="TIMESTAMP" property="checkInTime" />
    <result column="check_out_time" jdbcType="TIMESTAMP" property="checkOutTime" />
    <result column="check_in_number" jdbcType="INTEGER" property="checkInNumber" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="temp2" jdbcType="VARCHAR" property="temp2" />
    <result column="temp3" jdbcType="VARCHAR" property="temp3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, check_in_time, check_out_time, check_in_number, room_id, order_id, temp2, temp3
  </sql>
  <select id="selectByExample" parameterType="com.ljl.C71S3TljlHotelManagementSystem.bean.CheckInDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from check_in_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from check_in_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from check_in_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ljl.C71S3TljlHotelManagementSystem.bean.CheckInDetailExample">
    delete from check_in_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ljl.C71S3TljlHotelManagementSystem.bean.CheckInDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into check_in_detail (check_in_time, check_out_time, check_in_number, 
      room_id, order_id, temp2, 
      temp3)
    values (#{checkInTime,jdbcType=TIMESTAMP}, #{checkOutTime,jdbcType=TIMESTAMP}, #{checkInNumber,jdbcType=INTEGER}, 
      #{roomId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{temp2,jdbcType=VARCHAR}, 
      #{temp3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ljl.C71S3TljlHotelManagementSystem.bean.CheckInDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into check_in_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="checkInTime != null">
        check_in_time,
      </if>
      <if test="checkOutTime != null">
        check_out_time,
      </if>
      <if test="checkInNumber != null">
        check_in_number,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="temp2 != null">
        temp2,
      </if>
      <if test="temp3 != null">
        temp3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="checkInTime != null">
        #{checkInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkOutTime != null">
        #{checkOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkInNumber != null">
        #{checkInNumber,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="temp2 != null">
        #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        #{temp3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ljl.C71S3TljlHotelManagementSystem.bean.CheckInDetailExample" resultType="java.lang.Long">
    select count(*) from check_in_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update check_in_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.checkInTime != null">
        check_in_time = #{record.checkInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkOutTime != null">
        check_out_time = #{record.checkOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkInNumber != null">
        check_in_number = #{record.checkInNumber,jdbcType=INTEGER},
      </if>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.temp2 != null">
        temp2 = #{record.temp2,jdbcType=VARCHAR},
      </if>
      <if test="record.temp3 != null">
        temp3 = #{record.temp3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update check_in_detail
    set id = #{record.id,jdbcType=INTEGER},
      check_in_time = #{record.checkInTime,jdbcType=TIMESTAMP},
      check_out_time = #{record.checkOutTime,jdbcType=TIMESTAMP},
      check_in_number = #{record.checkInNumber,jdbcType=INTEGER},
      room_id = #{record.roomId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      temp2 = #{record.temp2,jdbcType=VARCHAR},
      temp3 = #{record.temp3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljl.C71S3TljlHotelManagementSystem.bean.CheckInDetail">
    update check_in_detail
    <set>
      <if test="checkInTime != null">
        check_in_time = #{checkInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkOutTime != null">
        check_out_time = #{checkOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkInNumber != null">
        check_in_number = #{checkInNumber,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="temp2 != null">
        temp2 = #{temp2,jdbcType=VARCHAR},
      </if>
      <if test="temp3 != null">
        temp3 = #{temp3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljl.C71S3TljlHotelManagementSystem.bean.CheckInDetail">
    update check_in_detail
    set check_in_time = #{checkInTime,jdbcType=TIMESTAMP},
      check_out_time = #{checkOutTime,jdbcType=TIMESTAMP},
      check_in_number = #{checkInNumber,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      temp2 = #{temp2,jdbcType=VARCHAR},
      temp3 = #{temp3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>